$--color-font--main: rgba(51, 51, 51, 1);
$--color-font-second: rgba(170, 170, 170, 1);

$--color-font-hover: rgba(226, 239, 255, 1);
$--color-font-bg: rgba(18, 91, 174, 1);
$--color-font-history: rgba(90, 4, 136, 1);

$--color-brand: rgba(115, 151, 245, 1);

$--color-border: rgba(213, 213, 213, 1);
$--scroll-bar: rgba(203, 203, 203, 1);

$--color-white: rgba(255, 255, 255, 1);